body {
  font:14px arial;
  text-align:center;
}

#frame {
  margin-top:15px;
  width:440px;
}

#left {
  float:left;
  width:130px;
}

.heading {
  font:20px arial;
  font-weight:bold;
  margin-bottom:5px;
}

.subheading {
  font:15px arial;
  font-style:italic;
  margin-bottom:10px;
}

.field {
  margin-bottom:5px;
  text-align:right;
}